/* reset */ 

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive, sans-serif;
  }

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 321px) {
    html {
        font-size: 8px;
    }
}
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* END of reset */

body {
    background: url('./img/10981844.jpg') no-repeat bottom center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: lavender 0 0 2px;
    font-family: 'Press Start 2P', cursive, sans-serif;
} 


/* Play Button */
.play-btn {
    font-size: 3rem;
    background-color: khaki;
    border: #a59f66 2px solid;
    border-radius: 3px;
    -moz-box-shadow: 0 0 4px khaki;
    -webkit-box-shadow: 0 0 4px khaki;
    box-shadow: 0 0 4px khaki;
}

.playPadding {
    width: 320px;
}

.gameInit {
    height: 100vh;   
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 1rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0.625rem;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 0.625rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* END game init window */

/* START playing window */
.handsWrapper {
    height: 80vh;
}


.handChoise {
    min-width: 8.125rem;
    width: 11.25rem;
    height: 13.45rem;
    font-size: 1rem;
    margin: 0.6rem;
}


.whoWon {
    /* height: 50; */
    font-size: 2rem;
    padding: 2vh;
    text-shadow: 2px 2px 5px #e0ff99,
    -2px 1px 10px #ff99cc;
}

.compHand {
    min-height: 12.5rem;
}

.compText {
    align-self: flex-end;
}

.score {
    text-shadow: 3px 4px 10px red;
    font-size: 2rem;
}
/* END playing window */
